.footer-line {
    border-bottom: 1px solid #fff;
    opacity: 1;
    display: block;
}

.footer-last {
    width: 100%;
    border-bottom: 15px solid var(--yellow);
}

@media (min-width: 992px) {
    .footer-line {
        margin: auto;
        margin-left: -2%;
        width: 104%;
    }
}