.assets-bg-img {
  width: 100%;
  height: 350px;
  border: 1px solid var(--yellow);
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(64, 71, 20, 0.075) !important;
}

.assets-bg-img img {
  object-fit: contain;
  width: 100%;
  object-position: center;
  height: 348px;
}

.assets-bg-btn {
  width: 100%;
}

/* pagination css */
.assets-page-item {
  cursor: pointer;
}

.assets-page-link {
  background-color: var(--yellow);
  color: white;
  border: 1px solid var(--yellow);
}

.assets-page-link:hover,
.assets-page-link:focus {
  color: var(--yellow);
}

.assets-page-item.active > .assets-page-link {
  background-color: var(--gen-color);
  border: 1px solid var(--yellow);
  color: white;
}

.assets-page-item.disabled > .assets-page-link {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}
